{% extends "maestra.html" %}
{% block titulo %}
Agregar Carro
{% endblock %}
{% block contenido %}
<section class="section">
    <div class="columns">
        <div class="column is-one-third">
            <h3 class="is-size-3">Agregar Carro</h3>
            <form action="{{url_for('guardar_carro')}}" method="post">
                <label for="codigo">Marca:</label>
                <input required type="text" class="input" placeholder="Marca" name="marca" id="marca">
                <label for="nombre">Modelo:</label>
                <input required type="text" class="input" placeholder="Modelo" name="modelo" id="modelo">
                <label for="color">Color:</label>
                <input required type="text" class="input" placeholder="Color" name="color" id="color">
                <label for="precio">Precio:</label>
                <input required type="number" class="input" placeholder="Precio" name="precio" id="precio">
                <label for="cuotas">Cuotas:</label>
                <input required type="number" class="input" placeholder="Cuotas" name="cuotas" id="cuotas">
                <button type="submit" class="button is-success mt-2">Guardar</button>
                <a href="{{url_for('carros')}}" class="button is-primary mt-2">Volver</a>
            </form>
        </div>
    </div>
</section>
{% endblock %}